<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}SmartHome{% endblock %}</title>

    <link href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% include 'sidebar.html' %}

    <section class="dashboard-wrapper">
        <div class="dash-content">
            {% block content %}{% endblock %}
        </div>
    </section>

    {% include 'footer.html' %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/sidebarToggle.js') }}"></script>
</body>
</html>
